{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Checklist</h3>
  <a href="{% url 'checklist_add' %}" class="btn btn-primary">Add Checklist</a>
</div>
<div class="container mt-3">
    <form method="get" class="row g-2 align-items-center mb-3">
        <!-- Sprint Filter -->
        <div class="col-md-4">
            <select name="sprint" class="form-select">
                <option value="">-- All Sprints --</option>
                {% for sprint in sprints %}
                    <option value="{{ sprint }}" {% if sprint|stringformat:"s" == selected_sprint %}selected{% endif %}>
                        Sprint {{ sprint }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <!-- Search -->
        <div class="col-md-4">
            <input type="text" name="search" class="form-control" placeholder="Search by task name"
                   value="{{ search_query }}">
        </div>

        <!-- Submit -->
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Filter</button>
        </div>

        <!-- Reset -->
        <div class="col-md-2">
            <a href="{% url 'checklist_list' %}" class="btn btn-secondary w-100">Reset</a>
        </div>
    </form>
</div>


<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>SL.</th>
      <th>Task</th>
      <th>Test Area</th>
      <th>Test Scenario</th>           
      <th>Approved By PM</th>          
      <th>Approved By Dev</th>                   
      <th>Status</th>
      <th>Retest</th>
      <th>Actual Evidence</th>
      <th>Sprint</th>
      <th>Remarks</th>  
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for checklist in checklists %}
    <tr>
      <td>{{ checklist.sl_no }}</td>
      <td>{{ checklist.task.task_name }}</td>
      <td>{{ checklist.test_area }}</td>
      <td>{{ checklist.test_scenario|linebreaksbr }}</td>
    {% if checklist.approved_by_PM.name  %}
      <td>{{ checklist.approved_by_PM.name }}</td>
    {% else %}
      <td>N/A</td>
    {% endif %}

    {% if checklist.approved_by_dev.name %}
      <td>{{ checklist.approved_by_dev.name}}</td>
    {% else %}
      <td>N/A</td>
    {% endif %}


  
      <td>{{ checklist.status }}</td>
      <td>{{ checklist.retest_status }}</td>
      <td>{{ checklist.actual_evidence }}</td>
      <td>{{ checklist.sprint }}</td>
    {% if checklist.remarks %}
      <td>{{ checklist.remarks|linebreaksbr }}</td> >
    {% else %}
      <td>N/A</td>
    {% endif %}
      <td>
        <a href="{% url 'checklist_edit' checklist.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
        <a href="{% url 'checklist_delete' checklist.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="7" class="text-center">No checklists found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
